.estilo-botones{
    background-color: transparent;
    border-color: transparent;
}
.estilo-botones:hover{
    background-color: transparent;
    border-color: transparent;
}

.tamaño{
    size:30rem
}

.mi-propio-color-l:hover{
color:rgb(208, 0, 112)
}
.mi-propio-color-l{
    color:white
    }

.mi-propio-color-g:hover{
    color:rgb(140, 71, 153)
    }
    .mi-propio-color-g{
        color:white
        }

.mi-propio-color-c:hover{
    color:rgb(0, 50, 160)
    }
    .mi-propio-color-c{
        color:white
        }
 .titulo-cursos{
    color: white;
    background-color: rgba(0, 0, 0, 0.454);
    background-clip: border-box;
    border-radius: 1em
 }

 body{
    background-attachment: fixed;
    background-image: url(/assets/img/fondo.jpg);
 }

 .fondo-acerca{
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 1em;
 }

 .centrar-carrusel{
    top: 25%;
    left: 25%
 }

 .progreso{
    margin: 10%;
    margin-left: 15%;
 }

.fondo-tarjeta{
    background-color: rgba(0, 0, 0, 0.39);
}

.progress{
    height: 2em;
    font-weight: bold;
    font-size: large;
}

div.habilidades{
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 1em;

}