body {
    background-color: rgb(152, 247, 228);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
 }
 h1 {
    color: rgb( 121, 97, 255);

 }
 h2 {
   color: rgb( 121, 97, 255);
}
h3 {
   color: rgb( 121, 97, 255);
}
p{
   color: rgb(167, 152, 251)
}
ul{
   color: rgb(167, 152, 251)
}